services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    user: root
    ports:
      - "3000:3000"
    volumes:
      - ./ra-demo-payload.db:/app/ra-demo-payload.db
    environment:
      DATABASE_URI: "file:./ra-demo-payload.db"
      PAYLOAD_SECRET: "127578a4bd3ca59fb455680f"
      NEXT_PUBLIC_SERVER_URL: "http://72.61.83.156:3000"
      NODE_ENV: "production"
    restart: unless-stopped
